<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, ipsam?
    </p>
  </header>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="img/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse saepe
        laborum voluptatum sapiente et deserunt quisquam praesentium hic ipsum
        commodi facere unde facilis excepturi necessitatibus labore obcaecati,
        dolores exercitationem placeat!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>

    <picture>
      <source
        type="image/webp"
        srcset="img/easy.webp 1x, img/easy@2x.webp 2x"
      />
      <source type="image/jpg" srcset="img/easy.jpg 1x, img/easy.jpg 2x" />
      <img
        class="feature__image"
        src="img/easy@2x.jpg"
        alt="Graph of site optimization"
      />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="img/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply fast websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse saepe
        laborum voluptatum sapiente et deserunt quisquam praesentium hic ipsum
        commodi facere unde facilis excepturi necessitatibus labore obcaecati,
        dolores exercitationem placeat!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>

    <picture>
      <source
        type="image/webp"
        srcset="img/fast.webp 1x, img/fast@2x.webp 2x"
      />
      <source type="image/jpg" srcset="img/easy.jpg 1x, img/easy.jpg 2x" />
      <img
        class="feature__image"
        src="img/fast@2x.jpg"
        alt="Graph of site optimization"
      />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="img/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">WordPress made easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse saepe
        laborum voluptatum sapiente et deserunt quisquam praesentium hic ipsum
        commodi facere unde facilis excepturi necessitatibus labore obcaecati,
        dolores exercitationem placeat!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>

    <picture>
      <source
        type="image/webp"
        srcset="img/wordpress.webp 1x, img/wordpress@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="img/wordpress.jpg 1x, img/wordpress.jpg 2x"
      />
      <img
        class="feature__image"
        src="img/wordpress@2x.jpg"
        alt="Graph of site optimization"
      />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="img/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">24/7 Expert Support</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse saepe
        laborum voluptatum sapiente et deserunt quisquam praesentium hic ipsum
        commodi facere unde facilis excepturi necessitatibus labore obcaecati,
        dolores exercitationem placeat!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="img/support.webp 1x, img/support@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="img/support.jpg 1x, img/support.jpg 2x"
      />
      <img
        class="feature__image"
        src="img/support@2x.jpg"
        alt="Graph of site optimization"
      />
    </picture>
  </article>
</section>
