<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header footer__heading">
        <h2 class="collapsible__heading footer__heading">products</h2>
        <img
          class="chevron-icon collapsible__chevron"
          src="./img/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">wordpress hosting</a></li>
          <li><a href="#">free automated wordpress</a></li>
          <li><a href="#">migration</a></li>
          <li><a href="#">domain names</a></li>
          <li><a href="#">monthly web hosting</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header footer__heading">
        <h2 class="collapsible__heading footer__heading">company</h2>
        <img
          class="chevron-icon collapsible__chevron"
          src="./img/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">about</a></li>
          <li><a href="#">affiliates</a></li>
          <li><a href="#">blog</a></li>
          <li><a href="#">careers</a></li>
          <li><a href="#">community</a></li>
          <li><a href="#">news</a></li>
          <li><a href="#">green hosting</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header footer__heading">
        <h2 class="collapsible__heading footer__heading">support</h2>
        <img
          class="chevron-icon collapsible__chevron"
          src="./img/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">contact</a></li>
          <li><a href="#">knowledge base</a></li>
          <li><a href="#">forums</a></li>
          <li><a href="#">system status</a></li>
          <li><a href="#">web hosting</a></li>
          <li><a href="#">dreamCompute</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible collapsible--expande footer__section">
      <header class="collapsible__header footer__heading">
        <h2 class="collapsible__heading footer__heading">domains</h2>
        <img
          class="chevron-icon collapsible__chevron"
          src="./img/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">domain checker</a></li>
          <li><a href="#">domain transfer</a></li>
          <li><a href="#">free domain</a></li>
          <li><a href="#">XYZ domain</a></li>
          <li><a href="#">cheap SSL Certificate</a></li>
        </ul>
      </div>
    </section>

    <section class="footer__brand">
      <img src="img/logo.svg" alt="" />
      <p class="footer__copyright">Copyright&copy;2025 Indiphile Menziwa</p>
    </section>
  </div>
</footer>
