<section class="block block--dark block--skewed-right block-showcase">
  <header class="block_header">
    <h2 class="block__heading">User-friendly Control Panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture class="block-showcase__image">
      <source type="image/webp" srcset="img/ipad.webp 1x, img/ipad@2x.webp" />
      <source type="image/png" srcset="img/ipad.png 1x, img/ipad@2x.png" />
      <img src="./img/ipad.png" alt="" />
    </picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="img/snap.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy start & managed updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Cupiditate esse, dicta nulla obcaecati commodi inventore quasi. At
              cupiditate nulla repellat!
            </p>
          </div>
        </div>
      </li>

      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="img/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Staying Git & WP-CLI</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Cupiditate esse, dicta nulla obcaecati commodi inventore quasi. At
              cupiditate nulla repellat!
            </p>
          </div>
        </div>
      </li>

      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="img/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Dynamic Caching & More</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Cupiditate esse, dicta nulla obcaecati commodi inventore quasi. At
              cupiditate nulla repellat!
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
